.App {
  text-align: center;
  background: url("https://cdn.wallpapersafari.com/90/29/4LbDOE.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  margin:auto;
  color: white;
}
.navLinks {
  text-decoration: none;
}
.navLinks:visited{
  color:white;
}
.selectedNav {
  color: #FFE81F;
}
.fullContainer {
  background-color: rgb(0, 0, 0,.75);
  border: 3px solid #FFE81F;
  
  margin: auto;
  margin-top: 10vh;
  width:25em;
  padding: 15px;
}
.title {
  border-bottom: 3px solid #FFE81F;
  width:375px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 45px;
  
}
h3 {
  font-size: 25px;
}

