.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  color: white;
}

header {
  background-color: black;
  color: white;
}

.starship-card:hover {
  color: pink;
  cursor: pointer;
}


.back-link {
  color: black;
  text-decoration: none;
}

.back-link:hover {
  color: pink;
}
