.App{
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  color: aliceblue;
  background-size: cover;
  background-position-y: -250%;
  font-family: 'Cambria';
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 0.5px solid rgba(0, 0, 0, 0.948);
  justify-content: space-around;
}

.detail-header{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.detail, .card{
  padding: 3vmin;
  margin: 2vmin;
  border: 0px 2px 2px 0px solid darkslategray;
  border-radius: 3rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.388);
  background: rgba(0, 0, 0, 0.531);
  max-height: 50vh;
}

button{
  background: gold;
  font-weight: bold;
  font-family: verdana;
  border-radius: 2rem;
  font-family: sans-serif;
}

button:hover{
  transform: scale(1.1)
}

.card:hover{
  transform: scale(1.1)
}

.logo{
  transform: scale(0.5)
}

