.App {
  
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  
}

 


.about-link {
  margin-right: 30px;
  margin-top: 40px;
  text-decoration: none;
  font-weight: 600;
  color: antiquewhite;
  font-size: 16px
}

.home {
  background-color: black;
}

.planet-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  margin-top: 65px;
  margin-left: 75px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  height: 100px;
  width: 450px;
  background-color: #006688;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.ship-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  text-align: center;
  margin: 50px auto 0;
}
