.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
  background: url('swapibg.jpg');
  background-size: cover;
  background-position-y: -250%;
  font-family: 'Cambria';
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 0.5px solid rgba(0, 0, 0, 0.948);
  justify-content: space-around;
}
.detail, .card {
  padding: 3vmin;
  margin: 2vmin;
  border: 0px 2px 2px 0px solid darkslategray;
  border-radius: 1rem;
  box-shadow: 5px 5px black;
  background: rgba(0, 0, 0, 0.703);
}

button{
  background: gold;
  font-weight: bold;
  font-family: verdana;
}

